{{#if resume.volunteer.length}}
<div class="container volunteer-container">
    {{> title value="Extra-Curricular Activites"}}

    <ul style="list-style-type: none; margin: 0; padding: 0;" class="two-column">
    {{#each resume.volunteer}}
    <li>
    <section class="item">
        {{> section-header name=this.organization showWebsite=true}}
        {{#if position}}
        <h5>{{position}}</h5>
        {{/if}}

        {{#if summary}}
        <p class="summary">{{summary}}</p>
        {{/if}}

        {{#if highlights.length}}
        <ul>
            {{#each highlights}}
            <li>{{.}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </section>
    </li>
    {{/each}}
    </ul>
</div>
{{/if}}
